/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
	/* App Colors */
	--primary-color: #3a0842;
	--secondary-color: #4eca7b;
	--background-color: #ebebeb;
	--surface-color: #ffffff;
	--text-color: #1c1c1c;
	--muted-text-color: #888;

	/* Ionic Overrides using semantic variables */
	--ion-background-color: var(--background-color);
	--ion-toolbar-background: var(--background-color);
	--ion-text-color: var(--text-color);
}
