.edit-transaction-modal {
	--border-radius: 12px;
	overflow: hidden;
}

.edit-transaction-header {
	--background: var(--app-color-purple);
	color: white;
}
.edit-transaction-header ion-button {
	--color: white;
}
