/* ----------------------------------------
   Settings Page Styles
---------------------------------------- */

.settings-content {
	--background: var(--ion-color-navy-blue-tint);
	background-color: var(--ion-color-navy-blue-tint);
	padding: 20px;
}

.settings-username {
	font-size: 1.2rem;
	font-weight: bold;
	color: white;
	margin-bottom: 20px;
	padding-left: 8px;
}

.settings-container {
	background: white;
	border-radius: 16px;
	padding: 12px;
	margin-bottom: 20px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.settings-container ion-item {
	--background: transparent;
	--color: var(--ion-color-navy-blue);
	font-weight: 500;
	border-radius: 8px;
	margin-bottom: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* ----------------------------------------
   Export User Data Page Styles
---------------------------------------- */

.export-button {
	--background: var(--ion-color-mint);
	--color: black;
	font-weight: 500;
	border-radius: 12px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
