.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: calc(100vh - 120px); /* Subtract header heights */
	width: 100%;
	padding: 10px;
	overflow-y: auto;
}

.container strong {
	font-size: 20px;
	line-height: 26px;
}

.container p {
	font-size: 16px;
	line-height: 22px;
	color: #8c8c8c;
	margin: 0;
}

.container a {
	text-decoration: none;
}

ion-item.select-item {
	justify-content: center;
	text-align: center;
}

ion-select {
	width: 100%;
	text-align: center;
}

/* Arrange Amount and Date in the same row with spacing */
.amount-date-container {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	width: 100%;
}

.amount-date-container ion-item {
	flex: 1;
}

/* Spacing between label and input */
ion-item ion-label {
	margin-right: 10px;
	white-space: nowrap;
}

ion-item ion-input {
	padding-left: 10px;
}

.subCategory {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.subCategory-label {
	flex-grow: 1; /* Allows the label to take up available space */
}

.subCat-delete-button {
	margin-left: auto; /* Moves the delete button to the far right */
}

.export-button {
	margin-top: 10px;
}
